
@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="header">
        <div style="width:auto;height:500px;text-align:center">
            <div class="row">
                <div class="col-3 col-sm-push-3">
                    <div class="card-login">
                        @using (Html.BeginForm("DangNhap", "DangNhap", FormMethod.Post))
                        {<h2>Đăng Nhập</h2>
                            <p style="color:red">@ViewBag.loi</p>
                            <p>Tên tài khoản:</p>
                            <p>@Html.TextBox("txtUser")</p>
                            <p>Mật khẩu:</p>
                            <p>@Html.Password("txtPass")</p>
                            <p><input type="submit" name="btnsubmit" value="Đăng Nhập" /></p>

                        }



                    </div>
                </div>
            </div>
        </div>

    </div>
